@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root{
    --background:#040C18;
    --font:'Manrope', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--background);
}